@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-thin-rounded/css/uicons-thin-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

body {
    background-color: #181818;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: #272929;
    width: 90%; /* Alterado para uma largura percentual */
    max-width: 400px; /* Adicionado uma largura máxima para evitar que fique muito largo em telas grandes */
    border-radius: 10px;
    padding: 20px;
    margin: 100px auto 0;
}

.input-task {
    font-size: 20px;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 7vh;
    padding-left: 10px;
}

.button-add-task {
    border: none;
    border-radius: 5px;
    height: 40px;
    background-color: #7f45b6;
    color: #ffffff;
    font-size: 17px;
    padding: 0 15px;
    float: right;
    cursor: pointer;
    font-weight: 700;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
}

.button-add-task:hover {
    opacity: 0.9;
}

.button-add-task:active {
    opacity: 0.6;
}

.list-tasks {
    width: 100%;
    list-style: none;
    margin-top: 30px;
}

button {
    align-self: flex-end;
    font-size: 20px;
    background-color: #272929;
    color: white;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    margin-bottom: 5px;
}

.claro {
    border-radius: 5px;
    padding: 15px;
    border: none;
    cursor: pointer;
    color: black;
    margin: 2px;
    background-color: white;
}

.escuro {
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    color: white;
    margin: 2px;
}

.temas {
    display: flex;
    justify-content: center;
    width: 7vw;
    margin: 20px;
    color: white;
}

.escolherImagem{
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: white;
    background-color: #7f45b6;
    width: 20vw;
    border-radius: 10px;
    box-shadow: #ae71e7 5px 5px 8px;
    margin-top: 10px;
}
.escolherImagem > span{
    margin-bottom: 20px;
}

.task {
    display: flex;
    justify-content: space-between;
    background-color: #181818;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    height: 60px;
    padding: 0px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    color: white;
}

#tarefa {
    align-self: center;
}

.end {
    align-self: flex-end;
}

.end #excluir:hover {
    color: rgb(250, 23, 23);
}

.end #concluido:hover {
    color: rgb(26, 211, 26);
}

.done {
    background-color: #46ec3771;
    text-decoration: line-through;
}

/* Regras de mídia para dispositivos móveis */
@media screen and (max-width: 600px) {
    .container {
        width: 90%;
        max-width: 100%;
    }

    .input-task {
        width: 100%;
    }

    .escolherImagem{
        width: 58vw;
    }

    .escolherImagem > input{
        width: 100vw;
    }
    .temas {
        display: flex;
        justify-content: center;
        width: 7vw;
        margin: 5vw;
        color: white;
    }
}
